{{!-- render all posts --}}
{{#if post}}

{{#each post as | post | }}
<div class="card all-cards">
    <div class="card-header">
        Title: {{post.title}}
    </div>
    <div>
        <div class="form-group all-cards">
            <text type="text" class="form-control" id="blog-content" rows="3">{{post.content}}</text>
        </div>
    </div>
    <div class="card-footer">
        <div class="col-6">
            User: {{post.username}}
        </div>
        <div class="col-6">
            Posted: {{post.createdAt}}
        </div>
        <a href="/dash/view/{{post.id}}" class="link-dark view-post col-6">View Full Post</a>
    </div>
</div>
{{/each}}
{{else}}
<h1>No posts have been created yet!</h1>
{{/if}}