{{#each myPost as | post | }}
<div class="card all-cards">
    <div class="card-header">
        Title: {{post.title}}
    </div>
    <div>
        <div class="form-group">
            <text type="text" class="form-control" rows="3">{{post.content}}</text>
        </div>
        <a href="/dash/{{post.id}}" class="link-dark">Edit Post</a>
    </div>
    <div class="card-footer justify-content-between">
        <div class="col-6">
            User: {{post.username}}
        </div>
        <div class="col-6">
            Posted: {{post.createdAt}}
        </div>
    </div>
</div>
{{/each}}