{{!-- renders individual posts to be viewed and allows the user to post a comment to that individually viewed post --}}
<div class="card all-cards">
    <div class="card-header">
       Current Post
    </div>
    <div>
            <div class="form-group">
                <text type="text" class="form-control" id="blog-title" placeholder="Tech Title"> {{post.title}}
            </div>
            <div class="form-group">
                <text type="text" class="form-control" id="blog-content" rows="3" placeholder="Your take on tech...">{{post.content}}</text>
            </div>
    </div>
    <div class="card-footer row justify-content-between">
        <div class="col-6">
        {{post.createdAt}}
        </div>
        <div class="col-6">
            Created By: {{post.username}}
        </div>
    </div>
</div>

<div class="card all-cards">
    <form class="comment">
            <div class="form-group">
                <input type="input" class="form-control" data-postid={{post.id}} id="new-blog-content" rows="3" placeholder="New comment..."></input>
            </div>
            <button href="/dash/view/{{post.id}}" class="btn-primary" type="submit">Leave Comment</button>
    </form>
</div>
<h1 class="all-cards">Post Comments</h1>
{{> comments}}